@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");
*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito, sans-serif";
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 400ms linear;
}

.navbar-fixed-top.scrolled {
  color: #555;
  box-shadow: rgba(1, 41, 112, 0.1) 0px 2px 20px;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.333) 0px 5px 10px;
  background: linear-gradient(
    -55deg,
    rgb(65, 84, 241) 29%,
    rgb(1, 41, 112) 29.1%,
    rgb(1, 41, 112) 68%,
    rgb(65, 84, 241) 68.1%
  );
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
}
.content-b {
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
}
.content-b .btn {
  display: block;
  line-height: 40px;
  color: rgb(1, 41, 112);
  font-size: 21px;
  font-weight: 600;
  background: rgb(255, 255, 255);
  margin: 5px auto;
  text-decoration: none;
  padding: 5px 20px !important;
}
.content-b p {
  color: rgb(238, 238, 238);
  font-size: 15px;
  margin-bottom: 0px;
  padding: 10px 0px;
}
.content-b h3 {
  color: rgb(255, 255, 255);
  font-size: 25px;
  margin-bottom: 0px;
}
#terms-o-s h1 {
  font-size: 24px !important;
  color: #012970;
  font-weight: 700;
  line-height: 1.5;
}
#terms-o-s p {
  color: #57646b;
  font-size: 18px;
  line-height: 1.5;
}
#terms-o-s li {
  margin-left: 20px;
  color: #57646b;
  font-size: 18px;
  line-height: 1.5;
}
#terms-o-s div {
  padding: 0px 50px;
}
#terms-o-s {
  padding: 60px 0 0 0;
  overflow: hidden;
}
.article {
  padding: 30px;
  margin-bottom: 60px;
  box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
  /* height: 100%; */
}
.article_image {
  max-height: 440px;
  margin: -30px -30px 20px -30px;
  overflow: hidden;
}
.article_title {
  font-size: 28px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
}
.article_title > a {
  color: #012970;
  transition: 0.3s;
}
.article_meta {
  margin-bottom: 15px;
  color: #4084fd;
}
.article_meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}
.article_meta ul li svg {
  font-size: 16px;
  margin-right: 8px;
  line-height: 0;
}
.article_meta ul li {
  padding-left: 20px;
}
.article_meta ul li p {
  color: #777777;
  font-size: 14px;
  display: inline-block;
  line-height: 1;
  margin: 0;
}
.article_content p {
  line-height: 30px;
  font-size: 22px;
}
.article_content .read-more {
  display: inline-block;
  background: #4154f1;
  color: #fff;
  padding: 6px 20px;
  transition: 0.3s;
  font-size: 14px;
  border-radius: 4px;
}
.commonLinkStyle {
  text-decoration: none;
}
.article_blockquote {
  overflow: hidden;
  background-color: #fafafa;
  padding: 60px;
  position: relative;
  text-align: center;
  margin: 20px 0;
}
.article_blockquote p {
  color: #444444;
  line-height: 1.6;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
}
.article_blockquote::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #012970;
  margin-top: 20px;
  margin-bottom: 20px;
}
